<div class="blog margin-bottom-40">
    <h2><a href="<%= 'blogs/'+blogpost.id.to_s %>"><%= blogpost.title %></a></h2>
    <% if blogpost.main_image.exists? %>
      <div class="blog-img">
        <img src="<%= blogpost.main_image.url %>" alt="" class="img-responsive" />
      </div>
    <% end %>
    <p><%= sanitize(blogpost.body)[0..100]+"..." %></p>
    <p><a class="btn-u btn-u-small" href="<%= 'blogs/'+blogpost.id.to_s %>"><i class="fa fa-plus-sign"></i> Read More</a></p>
</div>