<link rel="stylesheet" type="text/css" href="/css/theme.css" />
<link rel="stylesheet" type="text/css" href="/css/blog.css" />
<a href="#" class="scrolltop">
<span>up</span>
</a>
<%= render "shared/navbar" %>
<div id="blog_wrapper">
    <div class="container">
        <div class="row">
            <div class="span8">
                <h1 class="header">
                    Blog
                    <hr />
                </h1>
                <% @blog_posts.each do |blogpost| %>
                  <%= render "blogs/blogpost", :blogpost => blogpost %>
                <% end %>
                <div class="pagination">
                  <%= paginate @blog_posts %>
                </div>
            </div>
            <%= render "shared/sidebar" %>
        </div>
    </div>
</div>
<%= render "shared/footer" %>
